<template>
  <div>
  <button v-bind:class="{ active: isActive }" @click="onClick">{{buttonName}}</button>
  </div>
</template>

<script>
  export default {
    props: ['buttonName', 'isActive', 'onClick'],
    data () {
      return {
      }
    },
    methods: {
    }
  }
</script>
<style scoped>
  button {
    padding: 3px;
    border-radius: 5px;
    margin-left: 20px;
  }
  button.active {
    border: 1px solid #ff9b90;
  }
</style>
