<template>
  <div>
    <div class="mainContainer">
      <div class="input-container">
        <div class="arrow-container">
          <arrow-down v-show="taskListAll!=null"  @click="onArrowClick"/>
        </div>
        <input
          type="text"
          v-on:keyup.enter="onEnterClick"
          placeholder="What needs to be done?"
          aria-label="Username"
          aria-describedby="basic-addon1"
          v-model="inputValue"
        >
      </div>
      <div>
        <div v-show="showAll" v-for="(task) in taskListAll" v-bind:key="task.id">
          <row v-on:task-selected="onSelect" v-on:on-delete="onDelete" :task="task"/>
        </div>
        <div v-show="showCompleted" v-for="(task, index) in taskListAll" v-bind:key="'A'+index">
          <row v-show="task.completed" v-on:task-selected="onSelect" v-on:on-delete="onDelete" :task="task"/>
        </div>
        <div v-show="showActive" v-for="(task,index) in taskListAll" v-bind:key="'B'+index">
          <row v-show="!task.completed" v-on:on-delete="onDelete" :task="task"/>
        </div>
      </div>
      <div class="footer">
        <p>{{countLeftItems()}} items left</p>
        <div class="middleButtons">
          <custom-button :buttonName="'All'" :is-active="activeButtonIndex === 0" :onClick="showAllTasks"/>
          <custom-button :buttonName="'Active'" :is-active="activeButtonIndex === 1" :onClick="showOnlyActive"/>
          <custom-button :buttonName="'Completed'" :is-active="activeButtonIndex === 2" :onClick="showOnlyCompleted"/>
        </div>
        <div class="clearCompletedButton">
          <button v-show="checkIfCompletedTaskExist()" @click="clearCompleted">Clear completed</button>
        </div>
      </div>
    </div>
    <div class="sheet1"></div>
    <div class="sheet2"></div>
    <div class="credentials">
      <p class="credential-text">Double-click to edit a todo</p>
      <p class="credential-text">Written by Evan You</p>
      <p class="credential-text">Part of TodoMVC</p>
    </div>
  </div>
</template>
<script>
import ArrowDown from 'vue-material-design-icons/ArrowDown.vue';
import Row from './Row';
import CustomButton from './CustomButton';
export default {
  components: {
    ArrowDown,
    Row,
    CustomButton
  },
  data () {
    return {
      activeButtonIndex: -1,
      showAll: true,
      inputValue: '',
      showActive: false,
      showCompleted: false,
      task: {
        id: Date,
        name: '',
        completed: false
      }
    }
  },
  methods: {
    onArrowClick() {
        if(this.ifAllIsCompleted(this.taskListAll)) {
          this.markAllAsCompletedOrActive(this.taskListAll, false);
        }
        else {
          this.markAllAsCompletedOrActive(this.taskListAll, true);
        }
    },
    onEnterClick() {
      if(this.inputValue !== '') {
        this.task = { id: new Date(), name: this.inputValue, completed: false };
        this.$store.dispatch('addTask', this.task);
        this.fetchData();
        this.inputValue = '';
      }
    },
    fetchData() {
      this.$store.dispatch('fetchTaskList');
    },
    onSelect(task) {
      this.$store.dispatch('updateTaskList', task);
    },
    showOnlyCompleted() {
      this.activeButtonIndex = 2;
      this.showCompleted = true;
      this.showActive = false;
      this.showAll = false;
    },
    showOnlyActive() {
      this.activeButtonIndex = 1;
      this.showCompleted = false;
      this.showAll = false;
      this.showActive = true;
    },
    showAllTasks() {
      this.activeButtonIndex = 0;
      this.showCompleted = false;
      this.showAll = true;
      this.showActive = false;
    },
    onDelete(task){
      this.$store.dispatch('removeFromTaskList', task);
    },
    countLeftItems(){
      let counter = 0;
      for(let key in this.taskListAll){
        if(!this.taskListAll[key].completed){
          counter++;
        }
      }
      return counter;
    },
    ifAllIsCompleted(taskList) {
      for(let key in taskList) {
        if(taskList[key].completed === false) {
          return false;
        }
      }
      return true;
    },
    markAllAsCompletedOrActive(taskList, asCompleted) {
      for(let key in taskList) {
        if(asCompleted) {
          taskList[key].completed = true;
        } else {
          taskList[key].completed = false;
        }
      }
    },
    clearCompleted() {
      for(let key in this.taskListAll) {
        if(this.taskListAll[key].completed === true) {
          this.$store.dispatch("removeFromTaskList", this.taskListAll[key]);
        }
      }
    },
    checkIfCompletedTaskExist() {
      for(let key in this.taskListAll) {
        if(this.taskListAll[key].completed === true) {
          return true;
        }
      }
      return false;
    }
  },
  computed: {
    taskListAll() {
      return this.$store.getters.taskList;
    }
  },
  created() {
    this.fetchData();
  }
}
</script>
<style scoped>
input {
  width: 500px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: none;
  text-align: left;
  font-style: italic;
  font-size: 25px !important;
}

.input-container {
  display: flex;
  width: 550px;
}
::placeholder {
  color: rgb(172, 165, 165);
  font-size: 27px;
  opacity: 0.3;
}
.arrow-container {
  display: flex;
  justify-content: center;
  height: 75px;
  width: 50px;
  background-color: white;
  cursor: pointer;
}
.footer {
  display: flex;
  margin-left: 50px;
  width: 550px;
  height: 35px;
  background-color: white;
  margin-left: 0;
  border-top: 1px solid rgb(207, 198, 198);
  color: rgb(105, 104, 104);
  justify-content: space-between;
  align-content: baseline;
  padding: 5px;
}
.middleButtons {
  width: 50%;
  display: flex;
  margin-left: 50px;
}
.mainContainer {
  border: 1px solid rgb(207, 198, 198);
  border-top: 2px solid rgb(207, 198, 198);
  display: flex;
  background-color: white;
  box-shadow: 0 4px 15px 0 rgb(196, 188, 188), 0 25px 20px 0 rgb(196, 188, 188);
  flex-direction: column;
}
.sheet1 {
  border-bottom: 1px solid rgb(207, 198, 198);
  border-left: 1px solid rgb(207, 198, 198);
  border-right: 1px solid rgb(207, 198, 198);
  background-color: white;
  margin-left: 4px;
  margin-right: 4px;
  height: 7px;
}
.sheet2 {
  border-bottom: 1px solid rgb(207, 198, 198);
  border-left: 1px solid rgb(207, 198, 198);
  border-right: 1px solid rgb(207, 198, 198);
  background-color: white;
  margin-left: 8px;
  margin-right: 10px;
  height: 7px;
}

.credentials {
  opacity: 0.5;
  margin-top: 50px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.credential-text {
  margin: 2px;
}

.clearCompletedButton {
  display: flex;
  justify-content: flex-end;
  float: right;
}
</style>
