<template>
  <div class="main-page">
    <h1>todos</h1>
  <input-field/>
  </div>
</template>
<script>
import InputField from './Input.vue'
export default {
  components: {
    InputField
  }
}
</script>

<style scoped>
.main-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  background-color: rgb(241, 241, 241)
  }
h1{
  font-size: 125px;
  text-align: center;
  color: rgb(192, 29, 29, 0.1);
  font-weight: 400;
  margin: 0;
}
</style>
