<template>
  <div class="row" v-bind:class="{ completed: task.completed}">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="task.completed" v-model="task.completed" id="defaultCheck1" @change="check()">
    </div>
    <p class="text" v-bind:class="{ textCompleted: task.completed }">{{task.name}}</p>
    <div @click="onDelete" class="icon-container"><close-outline/>
    </div>
  </div>
</template>
<script>
import CloseOutline from 'vue-material-design-icons/CloseOutline.vue'
export default {
  components: {
    CloseOutline
  },
  props: ['task'],
  data () {
    return {
    }
  },
  methods: {
    check () {
      this.$emit('task-selected', this.task)
    },
    onDelete () {
      this.$emit('on-delete', this.task)
    }
  }
}
</script>

<style scoped>
.row{
  width: 550px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(214, 214, 214);
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
  margin-left: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.2;
}
.text{
  margin:0;
  width: 450px;
}

.form-check{
  margin-left: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.form-check-input{
  width: 25px;
  height: 25px;
  margin: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}
.icon-container{
  margin-bottom: 0;
  cursor: pointer;
  display: none;
}

.row:hover .icon-container {
  display: block;
}
.material-design-icon > .material-design-icon__svg {
    height: 1em;
    width: 1em;
    fill: white;
    position: absolute;
    bottom: -0.125em;
}
</style>
