<template>
  <div class="sidebar">
    <h1>Vue.js</h1>
    <p class="text">Example</p>
    <a href="https://github.com/tastejs/todomvc/tree/gh-pages/examples/vue">Source</a>
    <p class="dash"></p>
    <div class="comment">
      Vue.js provides efficient MVVM data bindings with a simple and flexible API. It uses plain JavaScript object models, DOM-based templating and extendable directives and filters.
    </div>
    <a href="https://vuejs.org/"><p class="vue-link">Vue.js</p></a>
    <p class="dash"></p>
    <p class="links">Official Resources</p>
    <ul>
      <li><a href="https://vuejs.org/v2/guide/">Documentation</a></li>
      <li><a href="https://vuejs.org/v2/api/">API Reference</a></li>
      <li><a href="https://vuejs.org/v2/examples/">Examples</a></li>
      <li><a href="https://github.com/vuejs/vue">Vue.js on GitGub</a></li>
    </ul>
    <p class="links">Community</p>
    <ul>
      <li><a href="https://twitter.com/vuejs">Twitter</a></li>
      <li><a href="https://gitter.im/vuejs/vue">Gitter Channel</a></li>
      <li><a href="https://github.com/vuejs/Discussion/issues">Discussions on GitHub</a></li>
    </ul>
    <p class="dash"></p>
    <div class="note">If you have other helpful links to share, or find any of the links above no longer work, please <a href="https://github.com/tastejs/todomvc/issues">let us know.</a></div>
  </div>
</template>
<script>

</script>

<style scoped>
  .sidebar{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50%;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
  }
  .text{
    margin:0 !important;
  }
  .dash{
  border: 0 none;
  border-top: 1px dashed #c2c2c2;
  background: none;
  height:0;
  margin-top: 25px;
  margin-bottom: 20px;
}
.comment{
  background-color: rgba(230, 230, 230, 0.904);
  border-radius: 5px;
  padding: 10px;
  font-style: italic;
  font-size: 16px;
}
a {
  color: rgba(163, 12, 12, 0.918);
  text-decoration: none;
  font-size: 16px;
}

a:hover{
  color: #c2c2c2;
  cursor: pointer;
  text-decoration: underline;
}

.vue-link {
  text-align: right;
  margin: 5px;
}
h1{
  font-style: normal;
  font-weight: 100;
}
.links {
  font-size: 20px;
  margin: 0;
}
.note {
  font-size: 16px;
  font-style: italic;
  margin: 5px;
}
ul{}
</style>
