<template>
  <v-app>
     <v-icon name="arrow-down"></v-icon>
    <div class="app">
      <sidebar/>
      <main-paige/>
    </div>
  </v-app>
</template>

<script>
import MainPaige from './components/MainPage.vue'
import Sidebar from './components/Sidebar.vue'
export default {
  name: 'App',
  components: {
    MainPaige,
    Sidebar
  },
  data () {
    return {
      //
    }
  }
}
</script>
<style scoped>
  .app{
    display: flex;
    width: 100%;
    height: 1500px;
    background-color: rgb(241, 241, 241);
    padding: 5px;
  }
</style>
